.meal {
    border: 1px solid lightgray;
    border-radius: 15px;
    max-width: 300px;
    height: 520px;
    position: relative;
}

.meal img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.meal-info {
    padding: 15px;
}

.meal button {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 5px 5px 15px 15px;
    border: none;
    padding: 10px;
    background-color: rgb(221, 200, 200);
}

.meal button:hover {
    box-shadow: 5px 5px 10px rgb(114, 86, 86);
}